<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">Dummy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">NavBar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Using</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Bootstrap</a>
  </li>
</ul>