<ul class="nav justify-content-end">
  <li class="nav-item justify-start">
    <a class="nav-link" href="https://github.com/vecerek/location_by_weight" rel="external" target="_blank">
      <%= image_tag('logos/github.png', id: 'github-logo', class: 'img-fluid', alt: 'GitHub logo', height: '40') %>
      Find project on GitHub
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Dummy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">NavBar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Using</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Bootstrap</a>
  </li>
</ul>